<a href="https://colab.research.google.com/github/AmirHosseinAlikhahMishamandani/Kaggle/blob/main/Titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Titanic - Machine Learning from Disaster

In [362]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.svm import SVC
from sklearn.neural_network import MLPClassifier
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import AdaBoostClassifier
import xgboost as xgb
from sklearn.metrics import mean_squared_error, r2_score, accuracy_score

## Data Collection


Data from: https://www.kaggle.com/competitions/titanic

### Train Data

In [307]:
Titanic_train = pd.read_csv('train.csv')

In [308]:
print(Titanic_train.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

### Test Data

In [309]:
Titanic_test = pd.read_csv('test.csv')

In [310]:
print(Titanic_test.head())

   PassengerId  Pclass                                          Name     Sex  \
0          892       3                              Kelly, Mr. James    male
1          893       3              Wilkes, Mrs. James (Ellen Needs)  female
2          894       2                     Myles, Mr. Thomas Francis    male
3          895       3                              Wirz, Mr. Albert    male
4          896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female

    Age  SibSp  Parch   Ticket     Fare Cabin Embarked
0  34.5      0      0   330911   7.8292   NaN        Q
1  47.0      1      0   363272   7.0000   NaN        S
2  62.0      0      0   240276   9.6875   NaN        Q
3  27.0      0      0   315154   8.6625   NaN        S
4  22.0      1      1  3101298  12.2875   NaN        S

## Data Pre-Processing

In [311]:
Titanic_train.drop(columns=['Ticket'], inplace=True)
Titanic_train.drop(columns=['Name'], inplace=True)
Titanic_train.drop(columns=['Cabin'], inplace=True)
Titanic_train.drop(columns=['Fare'], inplace=True)
Titanic_train.drop(columns=['Embarked'], inplace=True)
Titanic_train['Sex'] = Titanic_train['Sex'].replace({'male': 1, 'female': 2})

print(Titanic_train.head())

   PassengerId  Survived  Pclass  Sex   Age  SibSp  Parch
0            1         0       3    1  22.0      1      0
1            2         1       1    2  38.0      1      0
2            3         1       3    2  26.0      0      0
3            4         1       1    2  35.0      1      0
4            5         0       3    1  35.0      0      0

In [312]:
missing_values = Titanic_train.isnull().sum()

print(missing_values)

PassengerId      0
Survived         0
Pclass           0
Sex              0
Age            177
SibSp            0
Parch            0
dtype: int64

In [313]:
print(Titanic_train['Age'].dropna().unique())
print('Max age:',Titanic_train['Age'].max(skipna=True))
print('Min age:',Titanic_train['Age'].min(skipna=True))

[22.   38.   26.   35.   54.    2.   27.   14.    4.   58.   20.   39.
 55.   31.   34.   15.   28.    8.   19.   40.   66.   42.   21.   18.
  3.    7.   49.   29.   65.   28.5   5.   11.   45.   17.   32.   16.
 25.    0.83 30.   33.   23.   24.   46.   59.   71.   37.   47.   14.5
 70.5  32.5  12.    9.   36.5  51.   55.5  40.5  44.    1.   61.   56.
 50.   36.   45.5  20.5  62.   41.   52.   63.   23.5   0.92 43.   60.
 10.   64.   13.   48.    0.75 53.   57.   80.   70.   24.5   6.    0.67
 30.5   0.42 34.5  74.  ]
Max age: 80.0
Min age: 0.42

In [314]:
Titanic_test.drop(columns=['Ticket'], inplace=True)
Titanic_test.drop(columns=['Name'], inplace=True)
Titanic_test.drop(columns=['Cabin'], inplace=True)
Titanic_test.drop(columns=['Fare'], inplace=True)
Titanic_test.drop(columns=['Embarked'], inplace=True)
Titanic_test['Sex'] = Titanic_test['Sex'].replace({'male': 1, 'female': 2})

print(Titanic_test.head())

   PassengerId  Pclass  Sex   Age  SibSp  Parch
0          892       3    1  34.5      0      0
1          893       3    2  47.0      1      0
2          894       2    1  62.0      0      0
3          895       3    1  27.0      0      0
4          896       3    2  22.0      1      1

In [315]:
missing_values = Titanic_test.isnull().sum()

print(missing_values)

PassengerId     0
Pclass          0
Sex             0
Age            86
SibSp           0
Parch           0
dtype: int64

In [316]:
print(Titanic_test['Age'].dropna().unique())
print('Max age:',Titanic_test['Age'].max(skipna=True))
print('Min age:',Titanic_test['Age'].min(skipna=True))

[34.5  47.   62.   27.   22.   14.   30.   26.   18.   21.   46.   23.
 63.   24.   35.   45.   55.    9.   48.   50.   22.5  41.   33.   18.5
 25.   39.   60.   36.   20.   28.   10.   17.   32.   13.   31.   29.
 28.5  32.5   6.   67.   49.    2.   76.   43.   16.    1.   12.   42.
 53.   26.5  40.   61.   60.5   7.   15.   54.   64.   37.   34.   11.5
  8.    0.33 38.   57.   40.5   0.92 19.   36.5   0.75  0.83 58.    0.17
 59.   14.5  44.    5.   51.    3.   38.5 ]
Max age: 76.0
Min age: 0.17

### Data Processing

#### Normalizing: Age

In [317]:
Titanic_train['Age'] = Titanic_train['Age'] / 100

print(Titanic_train.head())

   PassengerId  Survived  Pclass  Sex   Age  SibSp  Parch
0            1         0       3    1  0.22      1      0
1            2         1       1    2  0.38      1      0
2            3         1       3    2  0.26      0      0
3            4         1       1    2  0.35      1      0
4            5         0       3    1  0.35      0      0

In [318]:
Titanic_test['Age'] = Titanic_test['Age'] / 100

print(Titanic_test.head())

   PassengerId  Pclass  Sex    Age  SibSp  Parch
0          892       3    1  0.345      0      0
1          893       3    2  0.470      1      0
2          894       2    1  0.620      0      0
3          895       3    1  0.270      0      0
4          896       3    2  0.220      1      1

#### filling: Age

In [319]:
data = Titanic_train.dropna()
print(data.head())

   PassengerId  Survived  Pclass  Sex   Age  SibSp  Parch
0            1         0       3    1  0.22      1      0
1            2         1       1    2  0.38      1      0
2            3         1       3    2  0.26      0      0
3            4         1       1    2  0.35      1      0
4            5         0       3    1  0.35      0      0

In [320]:
X = data.drop(['Age','PassengerId','Survived'], axis=1)
print(X.head())

   Pclass  Sex  SibSp  Parch
0       3    1      1      0
1       1    2      1      0
2       3    2      0      0
3       1    2      1      0
4       3    1      0      0

In [321]:
y = data['Age']  # Target variable
print(y.head())

0    0.22
1    0.38
2    0.26
3    0.35
4    0.35
Name: Age, dtype: float64

In [322]:
feature_names = ['Pclass', 'Sex', 'SibSp', 'Parch']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

model = RandomForestRegressor(n_estimators=100, max_depth=10, min_samples_split=50, bootstrap=False)
model.fit(X_train[feature_names], y_train)

y_pred = model.predict(X_test[feature_names])

mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
print("Mean Squared Error:", mse)
print("R-squared:", r2)

Mean Squared Error: 0.01285042413450613
R-squared: 0.3068968186062495

In [ ]:
for index, age in enumerate(Titanic_train['Age']):
    if np.isnan(age):
        features = Titanic_train.loc[index, feature_names].values.reshape(1, -1)
        predicted_age = model.predict(features)
        Titanic_train.at[index, 'Age'] = predicted_age

missing_values = Titanic_train.isnull().sum()
print(missing_values)

In [ ]:
for index, age in enumerate(Titanic_test['Age']):
    if np.isnan(age):
        features = Titanic_test.loc[index, feature_names].values.reshape(1, -1)
        predicted_age = model.predict(features)
        Titanic_test.at[index, 'Age'] = predicted_age

missing_values = Titanic_test.isnull().sum()
print(missing_values)

## Let's see who survived!

In [325]:
print(Titanic_train.head())

   PassengerId  Survived  Pclass  Sex   Age  SibSp  Parch
0            1         0       3    1  0.22      1      0
1            2         1       1    2  0.38      1      0
2            3         1       3    2  0.26      0      0
3            4         1       1    2  0.35      1      0
4            5         0       3    1  0.35      0      0

In [326]:
print(Titanic_test.head())

   PassengerId  Pclass  Sex    Age  SibSp  Parch
0          892       3    1  0.345      0      0
1          893       3    2  0.470      1      0
2          894       2    1  0.620      0      0
3          895       3    1  0.270      0      0
4          896       3    2  0.220      1      1

In [ ]:
X = Titanic_train[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch']]
y = Titanic_train['Survived']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

### KNN

In [408]:
knn = KNeighborsClassifier()
knn.fit(X_train, y_train)

y_pred = knn.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.8044692737430168

### SVM

In [409]:
svm = SVC(kernel='rbf',gamma=0.5)
svm.fit(X_train, y_train)

y_pred = svm.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.8044692737430168

### Logistic Regression

In [410]:
LR = LogisticRegression()
LR.fit(X_train, y_train)

y_pred = LR.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.7988826815642458

### Ada Boost Classifier

In [411]:
ABC = AdaBoostClassifier()
ABC.fit(X_train, y_train)

y_pred = ABC.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.8100558659217877

### Multi-layer Perceptron

In [412]:
mlp = MLPClassifier(hidden_layer_sizes=(100,50), activation='relu', solver='adam', max_iter=1000, random_state=42)
mlp.fit(X_train, y_train)

y_pred = mlp.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.8212290502793296

### Random Forest Classifier

In [413]:
RFC = RandomForestClassifier()
RFC.fit(X_train, y_train)

y_pred = RFC.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.8156424581005587

### Gradient Boosting

In [414]:
GBC = GradientBoostingClassifier()
GBC.fit(X_train, y_train)

y_pred = GBC.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.8268156424581006

### Extreme Gradient Boosting

In [415]:
xgbc = xgb.XGBClassifier()
xgbc.fit(X_train, y_train)

y_pred = xgbc.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.8324022346368715

## Result

In [424]:
X = Titanic_test.drop(columns=['PassengerId'])

predictions_df = pd.DataFrame(columns=['PassengerId', 'Survived'])

passenger_ids = []
predictions = []

for index, row in Titanic_test.iterrows():
    features = row.drop('PassengerId').values.reshape(1, -1)  # Reshape to fit the classifier input format

    prediction = xgbc.predict(features)[0]  # Assuming binary classification

    passenger_ids.append(row['PassengerId'])
    predictions.append(prediction)

predictions_df = pd.DataFrame({'PassengerId': passenger_ids, 'Survived': predictions})

predictions_df['PassengerId'] = predictions_df['PassengerId'].astype(int)
predictions_df['Survived'] = predictions_df['Survived'].astype(int)

print(predictions_df.head())

predictions_df.to_csv('predictions.csv', index=False)

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         1
4          896         1